<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Petite Vue - EJECT</title>

  <!-- petite vue -->
  <!-- <script src="https://unpkg.com/petite-vue" defer init></script> -->
  <!-- daisyUi (biblioteca) -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.1/dist/full.css" rel="stylesheet" type="text/css" />
  <!-- tailwindcss -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

  <div id="musicas" class="container mx-auto mt-14">

    <div class="flex flex-col items-center justify-center mt-10 w-full">
      <h3 class="text-2xl bold">Buscador de músicas</h3>

      <form class="flex flex-col gap-y-4 mt-4">
        <input v-model="searchText" type="text" class="input input-bordered w-full max-w-xs">

        <button @click.prevent="fetchMusica"  class="btn border-none btn-primary bg-black text-white hover:bg-black hover:text-white">Buscar</button>

      </form>
    </div>

    <!-- musicas -->
    <div class="grid grid-cols-3 gap-6 mt-5">
      <Card v-for="album in results" :key="album.collectionId" :album="album" />
    </div>
  </div>

  <script type="module">
    import Card from './Card.js'

    const {createApp } = Vue

    createApp({
    data() {
      return {
        searchText: '',
        results: ''
      }
    },
    components: {
      Card
    },
    methods: {
      async fetchMusica() {
        const apiSearch = await fetch(`https://itunes.apple.com/search?term=${this.searchText}&entity=album`)
        const res = await apiSearch.json()
        this.results = res.results
        console.log(this.results)
      }
    }
  }).mount('#musicas')

  </script>

</body>

</html>